*{
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
    
    
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
    
    
}
body{
    background-color: rgb(247, 242, 178);
}

/*header fixed*/
.cname{
    font-size: 40px;
    text-align: center;
    height: 150px;
    padding-top: 45px;
    font-weight: bold;
    background-color: rgb(39, 11, 165);
    color: white;
}
.menu{
    /* border-style:solid ; */
    height: 50px;
    text-align: center;
    padding-top: 9px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(243, 123, 10);
    margin-top: 6px;
}
.menu a{
    text-decoration: none;
    color: white;
    display: block;
}
.menu:hover{
 background-color: rgb(235, 196, 21);
}



.iframe{
    padding-top:10px ;
}
#iframe{
    border: none; 
    padding: 0px;
    margin: 0px;
}


.section{
    /* border-style: solid; */
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: large;
    font-weight: bold;
    background-color: rgb(39, 11, 165) ;
    color: white;
    margin-top: 10px;
}
.about{
    margin-top: 10px;
}


.service{
    margin-top: 30px;
    box-shadow: 0px 0px 6px 4px #CAC7c7;
    padding:8px;
    transition-property: transform;
    transition-duration: 1s;
    margin-bottom: 20px;
    height: 300px;
    width: 30% !important;
    margin-left: 15px !important;
}

.service:hover{
    transform: scale(1.1);
}
.contact{
    margin-top: 10px;
}

#whatsapp{
    position: fixed;
    right: 30px;
    bottom: 20px;
}

.home,.section,.contact,.about,.banner,.contact,.quoteabout,.aboutfirst,.about1,.aboutone,.about2_1,.about2_2,.about2,.r2020,.condetails
,.consection,.map,.services1,.pcmb
{
    margin-left: 0px;
     margin-right: 0px; 
     
   
} 



/*footer fixed*/
.footer{
   
    padding: 20px;
    background-color: rgb(39, 11, 165) ;
    color: white;
    margin-top: 10px;
}
#foottable{
    width:100%;
    /* margin: 30px auto; */
    
}
#copyrights{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
}
th{
    text-align:left ;
    font-family: cursive;
    font-size: 20px;
}

/*contact us page*/
.consection{
 height: 200px;
 text-align: center;
 padding-top: 90px;
 font-size: large;
 font-weight: bold;
 background-color: rgb(39, 11, 165) ;
 color: white;
 margin-top: 12px;
 
}

.consection:hover{
    background-color: rgb(61, 61, 235);
    
}

/* .consection:hover{display: none;} */

.consection1:after{
    content:'SUBJECT 1';
}
.consection1:hover:after{
    content:'PHYSICS';
}

.consection2:after{
    content:'SUBJECT 2';
}
.consection2:hover:after{
    content:'CHEMISTRY';
}

.consection3:after{
    content:'SUBJECT 3';
}
.consection3:hover:after{
    content:'MATHS';
}

.consection4:after{
    content:'SUBJECT 4';
}
.consection4:hover:after{
    content:'BIOLOGY';
}

/*Contact form*/
.condetails{
    margin-top: 80px;
    margin-bottom: 80px;
}
input[type='text'],input[type='email']{
    width: 300px;
    height: 40px;
}
button[type="submit"]{
    width:100px;
    height: 40px;
    background-color: rgb(50, 235, 3);
    border: none;
    border-radius: 5%;
    color: white;
    font-weight: bold;
}
button[type="reset"]{
    width:100px;
    height: 40px;
    background-color: rgb(17, 98, 248);
    border: none;
    border-radius: 5%;
    color: white;
    font-weight: bold;
}

/*Contact details*/
.number{
    text-align: center;
}

/*Services*/
.pcmb{
    margin-right: 13px;
    
}






























/*About us*/
.aboutfirst{
    background-image: linear-gradient(blue,purple);
    height: 300px;
    padding: 20px;
    box-shadow: 0px 0px 8px 5px #CAC7c7;
}

.aboutfirst h1{
    text-align: center;
    font-size: 30px;
}

.aboutfirst p{
    color:white;
    text-align: center;
    margin-top: 20px;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    word-spacing: 5px;
    font-weight: bold;
}

.aboutone{
    text-align: center;
     padding-top: 150px;
    
}
.aboutone p{
    font-family:cursive,Tahoma, sans-serif;
    font-size: 30px;
    color: white;
}
.about1{
    background-color: rgb(212, 136, 22);
    margin-top: 20px;
    box-shadow: 0px 0px 8px 5px #CAC7c7;
    padding: 10px;
}

.about2_1{
    background-image: linear-gradient(rgb(153, 28, 226),rgb(255, 145, 0));
    padding: 20px;
    text-align: center;
}
.r2020{
    text-align: center;
    background-color: rgb(9, 136, 240);
    padding-bottom: 10px;
    height: 30px;
    font-size: 10px;
}

.about2 img{
    box-shadow: 0px 0px 8px 5px #CAC7c7;
    border: black;
}
.quoteabout{
    
    text-align: center;
    background-color: rgb(34, 2, 56);
    height: 70px;
    padding-top: 10px;
    color: white;
    font-family: cursive;
    font-size: 25px;
} 